################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TESTapi/bin/Debug/net7.0
/TESTapi/obj
